/**Primero variables, mixings y todo dentro de utilities**/
/**Ahora todo lo que esta en base**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/**BOTONES INDEX**/
/**boton ver mas inv/jeans main**/
.cardInv .button-name {
  display: flex;
  align-items: center;
  appearance: none;
  background-color: #000000;
  border-radius: 5.625rem;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 0.125rem 0.25rem, rgba(45, 35, 66, 0.15) 0 0.4375rem 0.8125rem -0.1875rem, #d6d6e7 0 -0.1875rem 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  height: 2.5rem;
  width: 8.125rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 50%;
  margin-left: 20%;
  position: absolute;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1.125rem; }
  .cardInv .button-name:focus {
    box-shadow: #d6d6e7 0 0 0 0.0938rem inset, rgba(45, 35, 66, 0.4) 0 0.125rem 0.25rem, rgba(45, 35, 66, 0.3) 0 0.4375rem 0.8125rem -0.1875rem, #d6d6e7 0 -0.1875rem 0 inset; }
  .cardInv .button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 0.25rem 0.5rem, rgba(45, 35, 66, 0.2) 0 0.4375rem 0.8125rem -0.1875rem, #d6d6e7 0 -0.1875rem 0 inset;
    transform: translateY(-0.125rem); }
  .cardInv .button-name:active {
    box-shadow: #d6d6e7 0 0.1875rem 0.4375rem inset;
    transform: translateY(0.125rem); }

.cardJeans .button-name {
  display: flex;
  align-items: center;
  appearance: none;
  background-color: #000000;
  border-radius: 5.625rem;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 0.125rem 0.25rem, rgba(45, 35, 66, 0.15) 0 0.4375rem 0.8125rem -0.1875rem, #d6d6e7 0 -0.1875rem 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  height: 2.5rem;
  width: 8.125rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 50%;
  margin-left: 20%;
  position: absolute;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1.125rem; }
  .cardJeans .button-name:focus {
    box-shadow: #d6d6e7 0 0 0 0.0938rem inset, rgba(45, 35, 66, 0.4) 0 0.125rem 0.25rem, rgba(45, 35, 66, 0.3) 0 0.4375rem 0.8125rem -0.1875rem, #d6d6e7 0 -0.1875rem 0 inset; }
  .cardJeans .button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 0.25rem 0.5rem, rgba(45, 35, 66, 0.2) 0 0.4375rem 0.8125rem -0.1875rem, #d6d6e7 0 -0.1875rem 0 inset;
    transform: translateY(-0.125rem); }
  .cardJeans .button-name:active {
    box-shadow: #d6d6e7 0 0.1875rem 0.4375rem inset;
    transform: translateY(0.125rem); }

/**CARDS MAIN TIENDA**/
.productos {
  display: flex;
  gap: 1.6rem;
  padding: 2rem;
  justify-content: space-evenly; }
  .productos .fotosProductos {
    width: 100%;
    box-shadow: 0.1875rem 0.1875rem 0.625rem gray; }
  .productos p {
    font-weight: 25rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    width: fit-content; }
  .productos .colores {
    height: 1.3125rem; }

/**Todo lo que este en layout**/
.header-iconos {
  height: 12.5rem;
  margin: 0.625rem 0.625rem 0.625rem 0.9375rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #fcfcfc;
  box-shadow: 0.375rem 0.3125rem 0.1875rem rgba(0, 0, 0, 0.2); }
  .header-iconos .logoImg {
    display: flex;
    grid-column: 2 / 3;
    justify-content: center; }
  .header-iconos .searchIcon {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%; }
    .header-iconos .searchIcon a img {
      margin-top: 0.125rem;
      margin-left: 1.875rem;
      filter: drop-shadow(0rem 0.375rem 0.125rem rgba(0, 0, 0, 0.25)); }
  .header-iconos .menuIcon {
    display: none; }
  .header-iconos .logoType {
    grid-area: 2 / 2;
    justify-self: center;
    letter-spacing: 3.125rem;
    margin-left: 3.125rem;
    margin-bottom: 0.625rem;
    align-self: center; }
    .header-iconos .logoType a {
      font-family: "Inter", sans-serif;
      text-decoration: none;
      color: #000000;
      font-size: 3.125rem;
      text-shadow: 0.375rem 0.3125rem 0.25rem rgba(0, 0, 0, 0.25); }
  .header-iconos .cartLogin {
    grid-row: 2 / 3;
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .header-iconos .cartLogin a .carrito {
      margin-right: 2.1875rem; }
    .header-iconos .cartLogin a .login {
      margin-right: 1.875rem; }

/**NAV BAR**/
.nav-wraper {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0.3rem; }
  .nav-wraper nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #d1d1d1;
    padding: 0.1rem;
    box-shadow: 1px 1px grey; }
    .nav-wraper nav #toggle {
      display: none; }
    .nav-wraper nav label {
      display: none; }
    .nav-wraper nav .menu ul {
      list-style: none;
      display: flex;
      gap: 2rem; }
      .nav-wraper nav .menu ul li a {
        text-decoration: none;
        color: black; }

section .carruselInicio {
  display: flex;
  width: 100%; }

section .carruselMobile {
  display: none; }

.cardsAccess {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3.75rem; }
  .cardsAccess .cardInv img {
    width: 100%; }
  .cardsAccess .cardJeans img {
    width: 100%; }

.cardsAccessMobile {
  display: none; }

.fotoSlide {
  width: 100%;
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 5.625rem 1fr;
  column-gap: 9.375rem;
  justify-content: center;
  margin-top: 3rem; }
  .fotoSlide h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 5rem;
    letter-spacing: 0.2em;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    justify-self: center; }
  .fotoSlide img {
    width: 100%;
    margin-top: 2.5rem;
    grid-row: 2 / 3;
    box-shadow: 0.4rem 0.375rem 0.5rem rgba(0, 0, 0, 0.25); }

.accesoDos {
  margin-top: 8.125rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 0.1rem;
  row-gap: 1rem;
  position: relative; }
  .accesoDos .basicosSet {
    display: grid;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    justify-content: center; }
    .accesoDos .basicosSet img {
      width: 100%;
      align-self: center; }
    .accesoDos .basicosSet a {
      text-decoration: none;
      color: white;
      font-weight: 25rem;
      font-size: 3.9rem;
      line-height: 5rem;
      letter-spacing: 0.2em;
      position: absolute;
      justify-self: center;
      align-self: center;
      justify-self: center;
      align-self: center; }
  .accesoDos .accSet {
    display: grid;
    justify-self: center; }
    .accesoDos .accSet img {
      width: 100%;
      grid-column: 2 / 3; }
    .accesoDos .accSet a {
      text-decoration: none;
      color: white;
      font-weight: 25rem;
      font-size: 3.9rem;
      line-height: 5rem;
      letter-spacing: 0.2em;
      position: absolute;
      justify-self: center;
      align-self: center;
      grid-column: 2 / 3;
      justify-self: center;
      align-self: center; }
  .accesoDos .nosSet {
    display: grid;
    justify-self: center; }
    .accesoDos .nosSet img {
      width: 100%;
      grid-column: 2 / 3; }
    .accesoDos .nosSet a {
      text-decoration: none;
      color: white;
      font-weight: 25rem;
      font-size: 3.9rem;
      line-height: 5rem;
      letter-spacing: 0.2em;
      position: absolute;
      justify-self: center;
      align-self: center;
      grid-column: 2 / 3;
      justify-self: center;
      align-self: center; }

.accesoDosMobile {
  display: none; }

.iconosMain {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 5rem;
  margin-bottom: 8rem;
  padding-bottom: 6rem;
  padding-top: 8rem;
  box-shadow: 0.5rem 0.9rem 0.7rem rgba(0, 0, 0, 0.25); }
  .iconosMain .reciclaje img {
    width: 100%;
    margin-top: 0.5rem; }
  .iconosMain .envios img {
    width: 100%;
    margin-top: 0.5rem; }
  .iconosMain .pagos img {
    width: 100%;
    margin-top: 0.5rem; }

.cardsMobile {
  display: none; }

footer .final {
  background-color: white;
  margin-top: 1.875rem;
  height: 14.375rem;
  box-shadow: 0rem 0rem 0.625rem gray;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  padding-left: 1.25rem; }
  footer .final .linksVarios1, footer .final .linksVarios2 ul, footer .linksVarios2 .final ul {
    list-style: none;
    padding-top: 1.5625rem; }
    footer .final .linksVarios1 li a, footer .final .linksVarios2 ul li a, footer .linksVarios2 .final ul li a {
      text-decoration: none;
      color: #000000;
      font-size: 0.875rem;
      line-height: 2.3125rem;
      letter-spacing: 0.1em; }

footer .linksVarios2 ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 0.875rem;
  line-height: 0.9375rem;
  letter-spacing: 0.1em; }

footer .redes {
  padding-top: 1.5625rem; }
  footer .redes p {
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    margin-left: 0.625rem; }
  footer .redes a img {
    width: 1.875rem;
    margin-top: 1.25rem;
    margin-left: 0.625rem; }

footer .finalMobile {
  display: none; }

footer .copyright {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: center; }
  footer .copyright h3 {
    font-size: 0.75rem;
    line-height: 2.5rem;
    letter-spacing: 0.1em;
    font-weight: 25rem;
    margin-bottom: 3.125rem; }

footer .descuentoBar {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 2.6875rem;
  bottom: 0; }
  footer .descuentoBar p {
    color: #eeeeee;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2.5rem;
    letter-spacing: 0.14em;
    text-align: center; }

/**MAIN MUNDO LMY PAGE**/
.imagenInicio img {
  width: 100%;
  margin-top: 0.8rem; }

.mundoLmyMobile {
  display: none; }

.primerTexto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem; }
  .primerTexto .maquinaMobile {
    display: none; }
  .primerTexto div {
    align-self: center;
    justify-self: center; }
    .primerTexto div p {
      font-size: 1.25rem;
      line-height: 2.5rem;
      letter-spacing: 0.2em; }
  .primerTexto .imgLimay1 {
    width: 100%; }

.segundoTexto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10rem; }
  .segundoTexto div {
    align-self: center; }
    .segundoTexto div p {
      font-size: 1.25rem;
      line-height: 2.5rem;
      letter-spacing: 0.2em; }
  .segundoTexto .imgLimay2 {
    width: 100%;
    padding: 2rem; }

.textoMedio {
  margin-top: 3.125rem;
  padding-top: 3.125rem;
  padding-bottom: 1.5rem;
  background-color: #f9f9f9;
  box-shadow: 0.1875rem 0.1875rem 0.625rem gray; }
  .textoMedio p {
    font-weight: 31.25rem;
    font-size: 1.25rem;
    line-height: 3.75rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center; }
  .textoMedio .txtMedio {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin: 5rem; }
    .textoMedio .txtMedio img {
      width: 16rem; }

.accesosMundoLmy {
  margin-top: 3rem;
  display: grid; }
  .accesosMundoLmy h1 {
    font-weight: 31.25rem;
    font-size: 2.5rem;
    line-height: 3.75rem;
    letter-spacing: 0.12em;
    text-decoration-line: underline;
    text-align: center; }
  .accesosMundoLmy div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    gap: 2rem; }
    .accesosMundoLmy div .botones, .accesosMundoLmy div .sustent {
      width: 30rem;
      box-shadow: 0.1875rem 0.1875rem 0.6rem #888888; }
    .accesosMundoLmy div .sustent {
      width: 48rem; }

.newsletter {
  display: grid;
  background-color: #262626;
  height: 20.5rem;
  grid-template-columns: 35% 65%;
  margin-top: 3rem; }
  .newsletter img {
    width: 35.5rem;
    margin-top: 0.625rem;
    justify-self: center; }
  .newsletter p {
    font-family: "Inter";
    font-weight: 600;
    color: white;
    font-size: 1.6875rem;
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: 0.2em;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    margin-bottom: 6rem;
    align-self: center; }
  .newsletter form {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    margin-top: 4rem;
    height: fit-content;
    align-self: center; }
    .newsletter form .mailInput {
      background-color: #212121;
      width: 31.25rem;
      height: 3.125rem;
      padding: 0.625rem;
      font-size: 1.125rem;
      color: #d6d6e7;
      font-family: Inter;
      letter-spacing: 0.25rem;
      border: 0.125rem solid white;
      border-radius: 5.625rem; }
    .newsletter form .submit {
      background-color: #efde45;
      width: 8.125rem;
      height: 2.5rem;
      padding: 0.625rem;
      text-align: center;
      border: 0.125rem solid #efde45;
      border-radius: 5.625rem;
      box-shadow: 0.1875rem 0.1875rem 0.125rem #9b9b9b;
      margin-left: 2.5rem;
      font-family: "Inter";
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.2em;
      text-align: center; }
      .newsletter form .submit:focus {
        color: #fbff00;
        background-color: #000000;
        outline-color: black;
        box-shadow: 0.0625rem 0.0625rem 0.625rem white;
        transition: 0.2s;
        transition-property: box-shadow; }

/**MAIN FAQ PAGES**/
.faqInicio img {
  width: 100%; }

.faqInicioMobile {
  display: none; }

.primerConsejo {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center; }
  .primerConsejo div h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.5rem; }
  .primerConsejo div p {
    font-size: 1.5rem;
    line-height: 3.125rem;
    letter-spacing: 0.2em;
    margin-bottom: 3rem;
    text-align: center;
    padding-left: 3rem;
    padding-right: 5rem; }
  .primerConsejo div {
    flex-direction: row; }
    .primerConsejo div img {
      margin-right: 2rem; }
    .primerConsejo div .medidas1024 {
      transform: scaleX(-1); }

.tablaTalles {
  display: grid;
  grid-template-columns: 60% 25%;
  gap: 6rem;
  margin-top: 6rem;
  justify-content: center; }
  .tablaTalles img {
    width: 44.1875rem;
    justify-self: center;
    padding-left: 3rem;
    align-self: center; }
  .tablaTalles iframe {
    width: 100%; }

.textoDudas {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6rem; }
  .textoDudas p {
    font-size: 1.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    width: 55%;
    padding-left: 3rem; }
  .textoDudas img {
    width: 28.9375rem;
    padding-right: 3rem; }

.contactoMain {
  background-color: #d6d6d6; }
  .contactoMain h1 {
    padding: 3rem;
    text-align: center;
    font-size: 2.4rem; }
  .contactoMain section {
    display: flex;
    align-items: center;
    justify-content: center; }
    .contactoMain section form {
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      transition: all 1s ease;
      background-color: #363636; }
      .contactoMain section form .form_front {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        backface-visibility: hidden;
        padding: 65px 45px;
        border-radius: 15px;
        box-shadow: inset 2px 2px 10px black, inset -1px -1px 5px rgba(255, 255, 255, 0.6); }
        .contactoMain section form .form_front .form_details {
          font-size: 25px;
          font-weight: 600;
          padding-bottom: 10px;
          color: white; }
        .contactoMain section form .form_front .input {
          width: 420px;
          min-height: 45px;
          color: #fff;
          outline: none;
          transition: 0.35s;
          padding: 0px 7px;
          background-color: #000000;
          border-radius: 6px;
          border: 2px solid #212121;
          box-shadow: 6px 6px 10px black, 1px 1px 10px rgba(255, 255, 255, 0.6); }
          .contactoMain section form .form_front .input .placeholder {
            color: #999; }
          .contactoMain section form .form_front .input:focus {
            transition: 0.3s;
            opacity: 0;
            transform: scale(1.05);
            box-shadow: 6px 6px 10px black, 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px black, inset -1px -1px 5px rgba(255, 255, 255, 0.6); }
        .contactoMain section form .form_front .btn {
          padding: 10px 35px;
          cursor: pointer;
          background-color: #212121;
          border-radius: 6px;
          border: 2px solid #212121;
          box-shadow: 6px 6px 10px black, 1px 1px 10px rgba(255, 255, 255, 0.6);
          color: #fff;
          font-size: 15px;
          font-weight: bold;
          transition: 0.35s; }
          .contactoMain section form .form_front .btn:hover {
            transform: scale(1.05);
            box-shadow: 6px 6px 10px black, 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px black, inset -1px -1px 5px rgba(255, 255, 255, 0.6); }
          .contactoMain section form .form_front .btn:focus {
            transform: scale(1.05);
            box-shadow: 6px 6px 10px black, 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px black, inset -1px -1px 5px rgba(255, 255, 255, 0.6); }
  .contactoMain .infoContacto h2 {
    font-weight: 25rem;
    font-size: 1rem;
    line-height: 2.5rem;
    text-align: right;
    letter-spacing: 0.14em;
    padding: 3rem; }
  .contactoMain div iframe {
    width: 100%; }

@media (max-width: 1024px) {
  /**HEADER**/
  nav .navBar li a {
    font-size: 1rem;
    margin-right: 3rem; }
  /**INDEX**/
  .fotoSlide {
    column-gap: 2rem;
    margin-top: 2rem; }
    .fotoSlide div h2 {
      font-size: 1.3rem;
      margin-top: 0rem; }
    .fotoSlide div img {
      margin-top: 0.5rem; }
  .accesoDos {
    margin-top: 6rem; }
    .accesoDos .basicosSet {
      align-self: center; }
      .accesoDos .basicosSet a {
        font-size: 2.8rem; }
    .accesoDos .accSet {
      align-self: center; }
    .accesoDos .nosSet a {
      margin-bottom: 5rem; }
  .iconosMain {
    padding-bottom: 5rem;
    margin-top: 0px;
    margin-bottom: 6rem; }
    .iconosMain div h2 {
      font-size: 1.2em; }
  /**NEWSLETTER**/
  .newsletter img {
    width: 100%;
    margin-top: 0rem;
    align-self: center; }
  .newsletter p {
    font-size: 1.3rem; }
  .newsletter form .mailInput {
    font-size: 1rem;
    width: 16rem;
    height: 2.5rem; }
  .newsletter form .submit {
    margin-left: 0.5rem;
    width: 6.5rem;
    font-size: 0.9rem; }
  /**TIENDA**/
  .productos div {
    align-items: flex-end; }
    .productos div .fotosProductos {
      width: 14rem; }
  .productos .momCard p {
    font-size: 1.1rem; }
  /**MUNDO LMY**/
  .primerTexto div p {
    font-size: 1rem; }
  .primerTexto div img {
    width: 90%; }
  .segundoTexto {
    margin-top: 6rem; }
    .segundoTexto .imgLimay2 img {
      width: 100%; }
    .segundoTexto div p {
      font-size: 1rem; }
  .textoMedio {
    display: block; }
    .textoMedio p {
      font-size: 1rem;
      line-height: 2.5rem; }
  .accesosMundoLmy h2 {
    font-size: 1.5rem; }
  .accesosMundoLmy div .botones, .accesosMundoLmy div .sustent {
    width: 20rem;
    height: 20rem; }
  .accesosMundoLmy div .sustent {
    width: 30rem; }
  /**FAQ**/
  .primerConsejo {
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .primerConsejo div h1 {
      font-size: 1.4rem; }
    .primerConsejo div p {
      font-size: 1.4rem;
      line-height: 3.2rem; }
    .primerConsejo div img {
      width: 20rem; }
    .primerConsejo div .medidas1024 {
      width: 20rem; }
  .tablaTalles {
    grid-template-columns: 60% 40%;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 0; }
    .tablaTalles img {
      width: 32rem; }
    .tablaTalles div {
      width: 15rem;
      justify-self: center; }
  .textoDudas {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 0rem;
    gap: 2rem; }
    .textoDudas p {
      font-size: 1.2rem;
      width: 80%;
      text-align: center;
      line-height: 3.5rem;
      padding-left: 0; }
    .textoDudas img {
      width: 20rem;
      height: 14rem;
      padding-right: 0; } }

@media (max-width: 768px) {
  /**HEADER**/
  header .header-iconos .logoImg a img {
    width: 8rem; }
  header .header-iconos .searchIcon {
    display: none; }
  header .header-iconos .logoType {
    margin-left: 2.7rem; }
    header .header-iconos .logoType a {
      letter-spacing: 2rem;
      font-size: 2rem; }
  header .header-iconos .cartLogin {
    grid-column: 3 / 4; }
    header .header-iconos .cartLogin .login {
      display: none; }
  /**NAV BAR**/
  .nav-wraper nav {
    justify-content: flex-start;
    width: 100%;
    position: absolute; }
    .nav-wraper nav #toggle:checked ~ .menu {
      height: 100%; }
    .nav-wraper nav label {
      display: block; }
    .nav-wraper nav .menu {
      width: 100%;
      height: 0rem;
      overflow: hidden; }
      .nav-wraper nav .menu ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem; }
  /**INDEX**/
  main section .carruselInicio {
    display: none; }
  main section .carruselMobile {
    display: flex;
    width: 100%; }
  main .cardsAccess {
    margin-top: 1rem; }
    main .cardsAccess .cardInv .button-name {
      display: none; }
    main .cardsAccess .cardJeans .button-name {
      display: none; }
  main .fotoSlide {
    grid-template-rows: 4rem 10rem;
    column-gap: 1rem;
    margin-top: 1rem;
    height: 17rem; }
    main .fotoSlide h1 {
      font-size: 1.1rem;
      align-self: center; }
    main .fotoSlide img {
      margin-top: 0.3rem;
      width: 80%;
      justify-self: center; }
  main .accesoDos {
    margin-top: 0rem; }
    main .accesoDos .accSet a {
      font-size: 1.5rem; }
    main .accesoDos .nosSet a {
      font-size: 1.5rem;
      margin-bottom: 1.9rem; }
  main .iconosMain {
    padding-bottom: 3rem;
    padding-top: 5rem;
    margin-bottom: 2rem; }
  /**NEWSLETTER**/
  .newsletter {
    height: 12.5rem; }
    .newsletter img {
      width: 15rem;
      align-self: center;
      margin: 0rem; }
    .newsletter p {
      font-size: 0.9rem;
      margin-top: 2rem; }
    .newsletter form {
      margin-top: 3.5rem; }
      .newsletter form .mailInput {
        font-size: 0.7rem;
        width: 12rem;
        height: 1.8rem;
        letter-spacing: 0.19em; }
      .newsletter form .submit {
        margin-left: 0.5rem;
        width: 5rem;
        height: 1.1rem;
        font-size: 0.7rem;
        padding: 0rem; }
  /**FOOTER**/
  .final {
    grid-template-columns: 1fr 1fr 1fr; }
    .final .linksVarios1, .final footer .linksVarios2 ul, footer .linksVarios2 .final ul {
      padding: 0rem; }
      .final .linksVarios1 li a, .final footer .linksVarios2 ul li a, footer .linksVarios2 .final ul li a {
        font-size: 0.7rem; }
    .final .linksVarios2 {
      justify-self: flex-end; }
      .final .linksVarios2 ul li a {
        padding-top: 0.66rem;
        padding-bottom: 0.77rem;
        font-size: 0.7rem; }
    .final .redes {
      padding-top: 1.6rem;
      justify-self: center; }
  /**TIENDA**/
  .productos {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    padding: 1rem; }
    .productos div .fotosProductos {
      width: 18rem; }
  /**MUNDO LMY**/
  .primerTexto div p {
    font-size: 0.8rem;
    line-height: 1.9rem; }
  .segundoTexto {
    margin-top: 3rem; }
    .segundoTexto div p {
      font-size: 0.8rem;
      line-height: 1.9rem; }
  .textoMedio {
    padding: 1.3rem; }
    .textoMedio p {
      font-size: 0.8rem; }
    .textoMedio .txtMedio img {
      width: 10rem; }
  .accesosMundoLmy {
    margin-top: 2rem; }
    .accesosMundoLmy h2 {
      font-size: 1.2rem; }
    .accesosMundoLmy div {
      gap: 0.8rem; }
      .accesosMundoLmy div .botones, .accesosMundoLmy div .sustent {
        width: 15rem;
        height: 16rem; }
      .accesosMundoLmy div .sustent {
        width: 24rem;
        height: 16rem; }
  /**FAQ**/
  .primerConsejo {
    padding: 0; }
    .primerConsejo div h1 {
      font-size: 1.2rem; }
    .primerConsejo div p {
      font-size: 1.1rem;
      padding: 0; }
    .primerConsejo div img {
      width: 15rem; }
    .primerConsejo div .medidas1024 {
      width: 15rem; }
  .tablaTalles img {
    width: 26rem; }
  .tablaTalles div {
    width: 10rem; }
  .textoDudas p {
    font-size: 1rem;
    line-height: 2.5rem;
    width: 90%; }
  .textoDudas img {
    width: 30%;
    height: 30%; } }

@media (max-width: 425px) {
  /**HEADER**/
  header .header-iconos {
    height: 8rem;
    box-shadow: 0rem 0.3125rem 0.1875rem rgba(0, 0, 0, 0.2);
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 0.4rem; }
    header .header-iconos .logoImg a .logoLmy {
      width: 5rem; }
    header .header-iconos .logoType {
      margin-top: 0.5rem;
      margin-left: 1.29rem;
      align-self: flex-start; }
      header .header-iconos .logoType a {
        font-size: 1.1rem; }
    header .header-iconos .cartLogin a .carrito {
      width: 2.5rem;
      margin-right: 1.1rem; }
  /**INDEX**/
  .cardsAccess {
    display: none; }
  .cardsAccessMobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 1rem; }
  .fotoSlide {
    display: none; }
  .accesoDos {
    display: none; }
  .accesoDosMobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }
  .iconosMain {
    display: none; }
  .cardsMobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 1rem; }
  /**NEWSLETTER**/
  .newsletter {
    grid-template-columns: 1fr 1fr;
    height: 9.8rem;
    margin-top: 0.8rem; }
    .newsletter img {
      width: 12rem; }
    .newsletter p {
      font-size: 0.4rem;
      margin-top: 0.8rem; }
    .newsletter form {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .newsletter form .mailInput {
        font-size: 0.45rem;
        width: 8rem;
        height: 0.7rem;
        letter-spacing: 0.15em; }
      .newsletter form .submit {
        width: 3rem;
        height: 0.9rem;
        font-size: 0.45rem;
        margin-top: 0.7rem; }
  /**FOOTER**/
  footer .final {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .final .linksVarios1, footer .final .linksVarios2 ul, footer .linksVarios2 .final ul {
      display: none; }
  footer .linksVarios2 {
    display: none; }
  footer .redes p {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600; }
  footer .redes a img {
    width: 1.4rem;
    margin-top: 0.8rem; }
  footer .finalMobile {
    display: flex; }
    footer .finalMobile .listaMobile {
      list-style: none;
      text-align: center;
      margin-top: 0.8rem; }
      footer .finalMobile .listaMobile li a {
        text-decoration: none;
        color: #000000;
        font-size: 0.7rem;
        font-weight: 600; }
  footer .copyright h3 {
    font-size: 0.5rem;
    margin-top: 0.2rem;
    text-align: center; }
  footer .descuentoBar {
    height: 2.1875rem; }
    footer .descuentoBar p {
      font-size: 0.7rem;
      text-align: center; }
  /**TIENDA**/
  .productos {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center; }
    .productos div {
      display: contents; }
      .productos div .fotosProductos {
        width: 60%; }
      .productos div p {
        font-size: 1rem;
        margin-bottom: 2.5rem;
        text-align: center; }
      .productos div .colores {
        display: none; }
  /**MUNDO LMY**/
  .imagenInicio img {
    display: none; }
  .mundoLmyMobile {
    display: flex;
    margin: 0.5rem; }
    .mundoLmyMobile img {
      width: 100%; }
  .primerTexto {
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
    align-items: center; }
    .primerTexto .maquinaMobile {
      display: contents;
      width: 100%; }
    .primerTexto div {
      margin-top: 1.3rem; }
      .primerTexto div p {
        font-size: 0.8rem;
        text-align: center; }
    .primerTexto .imgLimay1 {
      display: none; }
  .segundoTexto {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center; }
    .segundoTexto .imgLimay2 {
      width: 100%; }
    .segundoTexto div p {
      font-size: 0.8rem;
      text-align: center;
      line-height: 1.5rem; }
  .textoMedio {
    height: 15rem; }
    .textoMedio p {
      font-size: 0.6rem;
      line-height: 1.5rem; }
    .textoMedio .txtMedio img {
      display: none; }
  .accesosMundoLmy {
    display: flex;
    flex-direction: column; }
    .accesosMundoLmy h2 {
      font-size: 1rem; }
    .accesosMundoLmy div {
      flex-direction: column;
      margin-top: 0rem;
      align-items: center; }
      .accesosMundoLmy div .botones, .accesosMundoLmy div .sustent {
        width: 22rem;
        height: 22rem; }
      .accesosMundoLmy div .sustent {
        width: 22rem;
        height: 15rem; }
  /**FAQ**/
  .faqInicio {
    display: none; }
  .faqInicioMobile {
    display: flex; }
    .faqInicioMobile img {
      display: flex;
      width: 100%; }
  .primerConsejo div h1 {
    font-size: 1.1rem;
    padding: 0; }
  .primerConsejo div p {
    font-size: 1rem;
    line-height: 2rem;
    padding: 0.8rem; }
  .imgfaq {
    display: none; }
  .tablaTalles {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .tablaTalles img {
      padding: 0;
      width: 19rem; }
    .tablaTalles div {
      padding: 0;
      width: 17rem; }
  .textoDudas {
    gap: 0; }
    .textoDudas p {
      font-size: 0.8rem;
      line-height: 1.8rem; } }
