/**Primero variables, mixings y todo dentro de utilities**/
/**Ahora todo lo que esta en base**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/**BOTONES INDEX**/
/**boton ver mas inv/jeans main**/
.cardInv .button-name {
  display: flex;
  align-items: center;
  appearance: none;
  background-color: #000000;
  border-radius: 5.625rem;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 0.125rem 0.25rem, rgba(45, 35, 66, 0.15) 0 0.4375rem 0.8125rem -0.1875rem, #d6d6e7 0 -0.1875rem 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  height: 2.5rem;
  width: 8.125rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 50%;
  margin-left: 20%;
  position: absolute;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1.125rem; }
  .cardInv .button-name:focus {
    box-shadow: #d6d6e7 0 0 0 0.0938rem inset, rgba(45, 35, 66, 0.4) 0 0.125rem 0.25rem, rgba(45, 35, 66, 0.3) 0 0.4375rem 0.8125rem -0.1875rem, #d6d6e7 0 -0.1875rem 0 inset; }
  .cardInv .button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 0.25rem 0.5rem, rgba(45, 35, 66, 0.2) 0 0.4375rem 0.8125rem -0.1875rem, #d6d6e7 0 -0.1875rem 0 inset;
    transform: translateY(-0.125rem); }
  .cardInv .button-name:active {
    box-shadow: #d6d6e7 0 0.1875rem 0.4375rem inset;
    transform: translateY(0.125rem); }

.cardJeans .button-name {
  display: flex;
  align-items: center;
  appearance: none;
  background-color: #000000;
  border-radius: 5.625rem;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 0.125rem 0.25rem, rgba(45, 35, 66, 0.15) 0 0.4375rem 0.8125rem -0.1875rem, #d6d6e7 0 -0.1875rem 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  height: 2.5rem;
  width: 8.125rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 50%;
  margin-left: 20%;
  position: absolute;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1.125rem; }
  .cardJeans .button-name:focus {
    box-shadow: #d6d6e7 0 0 0 0.0938rem inset, rgba(45, 35, 66, 0.4) 0 0.125rem 0.25rem, rgba(45, 35, 66, 0.3) 0 0.4375rem 0.8125rem -0.1875rem, #d6d6e7 0 -0.1875rem 0 inset; }
  .cardJeans .button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 0.25rem 0.5rem, rgba(45, 35, 66, 0.2) 0 0.4375rem 0.8125rem -0.1875rem, #d6d6e7 0 -0.1875rem 0 inset;
    transform: translateY(-0.125rem); }
  .cardJeans .button-name:active {
    box-shadow: #d6d6e7 0 0.1875rem 0.4375rem inset;
    transform: translateY(0.125rem); }

/**CARDS MAIN TIENDA**/
.productos {
  display: flex;
  gap: 1.6rem;
  padding: 2rem;
  justify-content: space-evenly; }
  .productos .fotosProductos {
    width: 100%;
    box-shadow: 0.1875rem 0.1875rem 0.625rem gray; }
  .productos p {
    font-weight: 25rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    width: fit-content; }
  .productos .colores {
    height: 1.3125rem; }

/**Todo lo que este en layout**/
.header-iconos {
  height: 12.5rem;
  margin: 0.625rem 0.625rem 0.625rem 0.9375rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #fcfcfc;
  box-shadow: 0.375rem 0.3125rem 0.1875rem rgba(0, 0, 0, 0.2); }
  .header-iconos .logoImg {
    display: flex;
    grid-column: 2 / 3;
    justify-content: center; }
  .header-iconos .searchIcon {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%; }
    .header-iconos .searchIcon a img {
      margin-top: 0.125rem;
      margin-left: 1.875rem;
      filter: drop-shadow(0rem 0.375rem 0.125rem rgba(0, 0, 0, 0.25)); }
  .header-iconos .menuIcon {
    display: none; }
  .header-iconos .logoType {
    grid-area: 2 / 2;
    justify-self: center;
    letter-spacing: 3.125rem;
    margin-left: 3.125rem;
    margin-bottom: 0.625rem;
    align-self: center; }
    .header-iconos .logoType a {
      font-family: "Inter", sans-serif;
      text-decoration: none;
      color: black;
      font-size: 3.125rem;
      text-shadow: 0.375rem 0.3125rem 0.25rem rgba(0, 0, 0, 0.25); }
  .header-iconos .cartLogin {
    grid-row: 2 / 3;
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .header-iconos .cartLogin a .carrito {
      margin-right: 2.1875rem; }
    .header-iconos .cartLogin a .login {
      margin-right: 1.875rem; }

.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  background-color: #eeeeee;
  padding: 0.5rem; }
  .navBar li a {
    text-decoration: none;
    color: black;
    margin-right: 5rem;
    font-size: 1.25rem;
    letter-spacing: 0.2em;
    font-family: "Inter", sans-serif; }

section .carruselInicio {
  display: flex;
  width: 100%; }

section .carruselMobile {
  display: none; }

.cardsAccess {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3.75rem; }
  .cardsAccess .cardInv img {
    width: 100%; }
  .cardsAccess .cardJeans img {
    width: 100%; }

.cardsAccessMobile {
  display: none; }

.fotoSlide {
  width: 100%;
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 5.625rem 1fr;
  column-gap: 9.375rem;
  justify-content: center;
  margin-top: 3rem; }
  .fotoSlide h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 5rem;
    letter-spacing: 0.2em;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    justify-self: center; }
  .fotoSlide img {
    width: 100%;
    margin-top: 2.5rem;
    grid-row: 2 / 3;
    box-shadow: 0.4rem 0.375rem 0.5rem rgba(0, 0, 0, 0.25); }

.accesoDos {
  margin-top: 8.125rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 0.1rem;
  row-gap: 1rem;
  position: relative; }
  .accesoDos .basicosSet {
    display: grid;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    justify-content: center; }
    .accesoDos .basicosSet img {
      width: 100%;
      align-self: center; }
    .accesoDos .basicosSet a {
      text-decoration: none;
      color: white;
      font-weight: 25rem;
      font-size: 3.9rem;
      line-height: 5rem;
      letter-spacing: 0.2em;
      position: absolute;
      justify-self: center;
      align-self: center;
      justify-self: center;
      align-self: center; }
  .accesoDos .accSet {
    display: grid;
    justify-self: center; }
    .accesoDos .accSet img {
      width: 100%;
      grid-column: 2 / 3; }
    .accesoDos .accSet a {
      text-decoration: none;
      color: white;
      font-weight: 25rem;
      font-size: 3.9rem;
      line-height: 5rem;
      letter-spacing: 0.2em;
      position: absolute;
      justify-self: center;
      align-self: center;
      grid-column: 2 / 3;
      justify-self: center;
      align-self: center; }
  .accesoDos .nosSet {
    display: grid;
    justify-self: center; }
    .accesoDos .nosSet img {
      width: 100%;
      grid-column: 2 / 3; }
    .accesoDos .nosSet a {
      text-decoration: none;
      color: white;
      font-weight: 25rem;
      font-size: 3.9rem;
      line-height: 5rem;
      letter-spacing: 0.2em;
      position: absolute;
      justify-self: center;
      align-self: center;
      grid-column: 2 / 3;
      justify-self: center;
      align-self: center; }

.accesoDosMobile {
  display: none; }

.iconosMain {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 5rem;
  margin-bottom: 8rem;
  padding-bottom: 6rem;
  padding-top: 8rem;
  box-shadow: 0.5rem 0.9rem 0.7rem rgba(0, 0, 0, 0.25); }
  .iconosMain .reciclaje img {
    width: 100%;
    margin-top: 0.5rem; }
  .iconosMain .envios img {
    width: 100%;
    margin-top: 0.5rem; }
  .iconosMain .pagos img {
    width: 100%;
    margin-top: 0.5rem; }
  .iconosMain .cardsMobile {
    display: none; }

footer .final {
  background-color: white;
  margin-top: 1.875rem;
  height: 14.375rem;
  box-shadow: 0rem 0rem 0.625rem gray;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  padding-left: 1.25rem; }
  footer .final .linksVarios1 {
    list-style: none;
    padding-top: 1.5625rem; }
    footer .final .linksVarios1 li a {
      text-decoration: none;
      color: black;
      font-size: 0.875rem;
      line-height: 2.3125rem;
      letter-spacing: 0.1em; }

footer .linksVarios2 ul {
  list-style: none; }
  footer .linksVarios2 ul li {
    padding-top: 1.5625rem; }
    footer .linksVarios2 ul li a {
      text-decoration: none;
      color: black;
      font-size: 0.875rem;
      line-height: 0.9375rem;
      letter-spacing: 0.1em; }

footer .redes {
  padding-top: 1.5625rem; }
  footer .redes p {
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    margin-left: 0.625rem; }
  footer .redes a img {
    width: 1.875rem;
    margin-top: 1.25rem;
    margin-left: 0.625rem; }

footer .finalMobile {
  display: none; }

footer .copyright {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: center; }
  footer .copyright h3 {
    font-size: 0.75rem;
    line-height: 2.5rem;
    letter-spacing: 0.1em;
    font-weight: 25rem;
    margin-bottom: 3.125rem; }

footer .descuentoBar {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 2.6875rem;
  bottom: 0; }
  footer .descuentoBar p {
    color: #eeeeee;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2.5rem;
    letter-spacing: 0.14em;
    text-align: center; }

/**MAIN MUNDO LMY PAGE**/
.imagenInicio img {
  width: 100%;
  margin-top: 0.8rem; }

.primerTexto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem; }
  .primerTexto div {
    align-self: center;
    justify-self: center; }
    .primerTexto div p {
      font-size: 1.25rem;
      line-height: 2.5rem;
      letter-spacing: 0.2em; }
  .primerTexto .imgLimay1 {
    width: 100%; }

.segundoTexto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10rem; }
  .segundoTexto div {
    align-self: center; }
    .segundoTexto div p {
      font-size: 1.25rem;
      line-height: 2.5rem;
      letter-spacing: 0.2em; }
  .segundoTexto .imgLimay2 {
    width: 100%;
    padding: 2rem; }

.textoMedio {
  margin-top: 3.125rem;
  padding-top: 3.125rem;
  padding-bottom: 1.5rem;
  background-color: #f9f9f9;
  box-shadow: 0.1875rem 0.1875rem 0.625rem gray; }
  .textoMedio p {
    font-weight: 31.25rem;
    font-size: 1.25rem;
    line-height: 3.75rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center; }
  .textoMedio div {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin: 5rem; }
    .textoMedio div img {
      width: 16rem; }

.accesosMundoLmy {
  margin-top: 3rem;
  display: grid; }
  .accesosMundoLmy h2 {
    font-weight: 31.25rem;
    font-size: 2.5rem;
    line-height: 3.75rem;
    letter-spacing: 0.12em;
    text-decoration-line: underline;
    text-align: center; }
  .accesosMundoLmy div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5rem;
    gap: 2rem; }
    .accesosMundoLmy div .botones {
      width: 30rem; }
    .accesosMundoLmy div .sustent {
      width: 48rem; }

.newsletter {
  display: grid;
  background-color: #262626;
  height: 20.5rem;
  grid-template-columns: 35% 65%;
  margin-top: 3rem; }
  .newsletter img {
    width: 35.5rem;
    margin-top: 0.625rem;
    justify-self: center; }
  .newsletter p {
    font-family: "Inter";
    font-weight: 600;
    color: white;
    font-size: 1.6875rem;
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: 0.2em;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    margin-bottom: 6rem; }
  .newsletter form {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    margin-top: 4rem; }
    .newsletter form .mailInput {
      background-color: #212121;
      width: 31.25rem;
      height: 3.125rem;
      padding: 0.625rem;
      font-size: 1.125rem;
      color: #d6d6e7;
      font-family: Inter;
      letter-spacing: 0.25rem;
      border: 0.125rem solid white;
      border-radius: 5.625rem; }
    .newsletter form .submit {
      background-color: #efde45;
      width: 8.125rem;
      height: 2.5rem;
      padding: 0.625rem;
      text-align: center;
      border: 0.125rem solid #efde45;
      border-radius: 5.625rem;
      box-shadow: 0.1875rem 0.1875rem 0.125rem #9b9b9b;
      margin-left: 2.5rem;
      font-family: "Inter";
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.2em;
      text-align: center; }
      .newsletter form .submit:focus {
        color: #fbff00;
        background-color: #000000;
        outline-color: black;
        box-shadow: 0.0625rem 0.0625rem 0.625rem white;
        transition: 0.2s;
        transition-property: box-shadow; }

/**MAIN FAQ PAGES**/
.faqInicio {
  margin-top: 1rem; }
  .faqInicio img {
    width: 100%; }

.primerConsejo {
  display: flex;
  padding-top: 7rem;
  align-items: center;
  justify-content: space-evenly; }
  .primerConsejo p {
    width: 48rem;
    font-size: 1.5rem;
    line-height: 3.125rem;
    letter-spacing: 0.2em;
    margin-bottom: 3rem; }
  .primerConsejo img {
    width: 23.75rem; }

.tablaTalles {
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-template-rows: 20% 30rem; }
  .tablaTalles h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: 0.2em;
    text-decoration-line: underline;
    grid-column: 1 / 2;
    text-align: center;
    align-self: center; }
  .tablaTalles img {
    width: 44.1875rem;
    grid-row: 2 / 3;
    justify-self: center; }
  .tablaTalles iframe {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center; }

.textoDudas {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6rem; }
  .textoDudas p {
    font-size: 1.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    width: 55%; }
  .textoDudas img {
    width: 28.9375rem; }

main section {
  display: flex;
  align-items: center;
  justify-content: center; }
  main section form {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 1s ease;
    background-color: #363636; }
    main section form .form_front {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      backface-visibility: hidden;
      padding: 65px 45px;
      border-radius: 15px;
      box-shadow: inset 2px 2px 10px black, inset -1px -1px 5px rgba(255, 255, 255, 0.6); }
      main section form .form_front .form_details {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
        color: white; }
      main section form .form_front .input {
        width: 420px;
        min-height: 45px;
        color: #fff;
        outline: none;
        transition: 0.35s;
        padding: 0px 7px;
        background-color: #000000;
        border-radius: 6px;
        border: 2px solid #212121;
        box-shadow: 6px 6px 10px black, 1px 1px 10px rgba(255, 255, 255, 0.6); }
        main section form .form_front .input .placeholder {
          color: #999; }
        main section form .form_front .input:focus {
          transition: 0.3s;
          opacity: 0;
          transform: scale(1.05);
          box-shadow: 6px 6px 10px black, 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px black, inset -1px -1px 5px rgba(255, 255, 255, 0.6); }
      main section form .form_front .btn {
        padding: 10px 35px;
        cursor: pointer;
        background-color: #212121;
        border-radius: 6px;
        border: 2px solid #212121;
        box-shadow: 6px 6px 10px black, 1px 1px 10px rgba(255, 255, 255, 0.6);
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        transition: 0.35s; }
        main section form .form_front .btn:hover {
          transform: scale(1.05);
          box-shadow: 6px 6px 10px black, 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px black, inset -1px -1px 5px rgba(255, 255, 255, 0.6); }
        main section form .form_front .btn:focus {
          transform: scale(1.05);
          box-shadow: 6px 6px 10px black, 1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px black, inset -1px -1px 5px rgba(255, 255, 255, 0.6); }

main .infoContacto h2 {
  font-weight: 25rem;
  font-size: 1rem;
  line-height: 2.5rem;
  text-align: right;
  letter-spacing: 0.14em;
  padding-right: 1.25rem; }

main div iframe {
  width: 100%; }

@media (max-width: 1024px) {
  /**INDEX**/
  nav .navBar li a {
    font-size: 1rem;
    margin-right: 3rem; } }

.fotoSlide {
  column-gap: 2rem;
  margin-top: 2rem; }
  .fotoSlide div h2 {
    font-size: 1.3rem;
    margin-top: 0rem; }
  .fotoSlide div img {
    margin-top: 0.5rem; }

.accesoDos {
  margin-top: 6rem; }
  .accesoDos .basicosSet {
    align-self: center; }
    .accesoDos .basicosSet a {
      font-size: 2.8rem; }
  .accesoDos .accSet {
    align-self: center; }
  .accesoDos .nosSet a {
    margin-bottom: 5rem; }

.iconosMain {
  padding-bottom: 5rem;
  margin-top: 0px;
  margin-bottom: 6rem; }
  .iconosMain div h2 {
    font-size: 1.2em; }

.newsletter img {
  width: 100%;
  margin-top: 0rem;
  align-self: center; }

.newsletter p {
  font-size: 1.3rem; }

.newsletter form .mailInput {
  font-size: 1rem;
  width: 16rem;
  height: 2.5rem; }

.newsletter form .submit {
  margin-left: 0.5rem;
  width: 6.5rem;
  font-size: 0.9rem; }

/**MUNDO LMY**/
.primerTexto div p {
  font-size: 1rem; }

.primerTexto .imgLimay1 {
  width: 100%;
  justify-self: flex-start; }

.segundoTexto div p {
  font-size: 1rem;
  line-height: 2rem; }

.segundoTexto .imgLimay2 {
  padding: 1rem; }

.textoMedio {
  display: block; }
  .textoMedio p {
    font-size: 1rem;
    line-height: 2.5rem; }

.accesosMundoLmy h2 {
  font-size: 1.5rem; }

.accesosMundoLmy div .botones {
  width: 20rem;
  height: 20rem; }

.accesosMundoLmy div .sustent {
  width: 30rem; }
