@mixin anclaBasicos{
    text-decoration: none;
    color: white;
    font-weight: 25rem;
    font-size: 3.9rem;
    line-height: 5rem;
    letter-spacing: 0.2em;
    position: absolute;
    justify-self: center;
    align-self: center;
}

@mixin flexNav{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    background-color: #eeeeee;
    padding: 0.5rem;
}