/**TIENDA- MAIN**/
/**     FOTOS
        width: 28.125rem;
        box-shadow: 0.1875rem 0.1875rem 0.625rem gray;
        
        PARRAFOS
        font-weight: 25rem;
        font-size: 1.25rem;
        line-height: 1.5rem;

        COLORES
        
         **/