footer{
    .final{
        background-color: rgb(255, 255, 255);
        margin-top: 1.875rem;
        height: 14.375rem;
        box-shadow: 0rem 0rem 0.625rem gray;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 1fr;
        grid-template-rows: 1fr;
        padding-left: 1.25rem;
        .linksVarios1{
            list-style: none;
            padding-top: 1.5625rem;
            li{
                a{
                    text-decoration: none;
                    color: $color-font;
                    font-size: 0.875rem;
                    line-height: 2.3125rem;
                    letter-spacing: 0.1em;
                }
            }
        }
    }
    .linksVarios2{
        ul{
            @extend .linksVarios1;
            li{
                a{
                    text-decoration: none;
                    color: $color-font;
                    font-size: 0.875rem;
                    line-height: 0.9375rem;
                    letter-spacing: 0.1em;
                }
            }
        }
    }
    .redes{
        padding-top: 1.5625rem;
        p{
            font-size: 0.875rem;
            letter-spacing: 0.1em;
            margin-left: 0.625rem;
        }
        a{
            img{
                width: 1.875rem;
                margin-top: 1.25rem;
                margin-left: 0.625rem;
            }
        }
    }
    .finalMobile{
        display: none;
    }
    .copyright{
        grid-column: 2 / 3;
        justify-self: end;
        align-self: center;
        h3{
            font-size: 0.75rem;
            line-height: 2.5rem;
            letter-spacing: 0.1em;
            font-weight: 25rem;
            margin-bottom: 3.125rem;
        }
    }
    .descuentoBar{
        position: fixed;
        background-color: black;
        width: 100%;
        height: 2.6875rem;
        bottom: 0;
        p{
            color: #eeeeee;
            font-weight: 600;
            font-size: 1rem;
            line-height: 2.5rem;
            letter-spacing: 0.14em;
            text-align: center;
        }
    }
}