/**MAIN FAQ PAGES**/
.faqInicio{
    margin-top: 1rem;
    img{
        width: 100%;
    }
}
.primerConsejo{
    h1{
        text-align: center;
        padding-bottom: 2rem;
        font-size: 1.5rem;
    }
    display: flex;
    padding-top: 7rem;
    align-items: center;
    p{
        font-size: 1.5rem;
        line-height: 3.125rem;
        letter-spacing: 0.2em;
        margin-bottom: 3rem;
        text-align: center;
        padding-left: 3rem;
        padding-right: 5rem;
    }
    img{
        width: 30%;
        padding-right: 3rem;
    }
}
.tablaTalles{
    display: grid;
    grid-template-columns: 60% 25%;
    gap: 6rem;
    margin-top: 6rem;
    justify-content: center;
    img{
        width: 44.1875rem;
        justify-self: center;
        padding-left: 3rem;
        align-self: center;
    }
    iframe{
        width: 100%;
    }
}
.textoDudas{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
    p{
        font-size: 1.5rem;
        line-height: 3.2rem;
        letter-spacing: 0.22em;
        text-transform: uppercase;
        width: 55%;
        padding-left: 3rem;
    }
    img{
        width: 28.9375rem;
        padding-right: 3rem;
    }
}
