/**CARDS MAIN TIENDA**/

.productos{
    display: flex;
    gap: 1.6rem;
    padding: 2rem;
    justify-content: space-evenly;
    .fotosProductos{
        width: 100%;
        box-shadow: 0.1875rem 0.1875rem 0.625rem gray;
    }
    p{
        font-weight: 25rem;
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-top: 1rem;
        width: fit-content;
    }
    .colores{
        height: 1.3125rem;
    }
}

/**CARDS NEWSLETTER**/
.newsletter{
    display: grid;
    background-color: #262626;
    height: 20.5rem;
    grid-template-columns: 35% 65%;
    margin-top: 3rem;
    img{
        width: 35.5rem;
        margin-top: 0.625rem;
        justify-self: center;
    }
    p{
        font-family: "Inter";
        font-weight: 600;
        color: white;
        font-size: 1.6875rem;
        line-height: 2.5rem;
        text-align: center;
        letter-spacing: 0.2em;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: center;
        margin-top: 3.75rem;
    }
    form{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: center;
        margin-top: 10.625rem;
        .mailInput{
            background-color: #212121;
            width: 31.25rem;
            height: 3.125rem;
            padding: 0.625rem;
            font-size: 1.125rem;
            color: #d6d6e7;
            font-family: Inter;
            letter-spacing: 0.25rem;
            border: 0.125rem solid white;
            border-radius: 5.625rem;
        }
        .submit{
            background-color: #efde45;
            width: 8.125rem;
            height: 2.5rem;
            padding: 0.625rem;
            text-align: center;
            border: 0.125rem solid #efde45;
            border-radius: 5.625rem;
            box-shadow: 0.1875rem 0.1875rem 0.125rem rgb(155, 155, 155);
            margin-left: 2.5rem;
            font-family: "Inter";
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: 0.2em;
            text-align: center;
            &:focus{
                color: rgb(251, 255, 0);
                background-color: #000000;
                outline-color: rgb(0, 0, 0);
                box-shadow: 0.0625rem 0.0625rem 0.625rem rgb(255, 255, 255);
                transition: 0.2s;
                transition-property: box-shadow;
            }
        }
    }
}