@media (max-width: 1024px){
/**HEADER**/
    nav{
        .navBar{
            li{
                a{
                    font-size: 1rem;
                    margin-right: 3rem;
                }
            }
        }
    }

    /**INDEX**/
    .fotoSlide{
        column-gap: 2rem;
        margin-top: 2rem;
        div{
            h2{
                font-size: 1.3rem;
                margin-top: 0rem;
            }
            img{
                margin-top: 0.5rem;
            }
        }
    }
    .accesoDos{
        margin-top: 6rem;
        .basicosSet{
            align-self: center;
            a{
                font-size: 2.8rem;
            }
        }
        .accSet{
            align-self: center;
        }
        .nosSet{
            a{
                margin-bottom: 5rem;
            }
        }
    }
    .iconosMain{
        padding-bottom: 5rem;
        margin-top: 0px;
        margin-bottom: 6rem;
        div{
            h2{
                font-size: 1.2em;
            }
        }
    }
    /**NEWSLETTER**/
    .newsletter{
        img{
            width: 100%;
            margin-top: 0rem;
            align-self: center;
        }
        p{
            font-size: 1.3rem;

        }
        form{
            .mailInput{
                font-size: 1rem;
                width: 16rem;
                height: 2.5rem;
            }
            .submit{
                margin-left: 0.5rem;
                width: 6.5rem;
                font-size: 0.9rem;
            }  
        }
    }

    /**TIENDA**/
    .productos{
        div{
            align-items: flex-end;
            .fotosProductos{
                width: 14rem;
            }
        }
        .momCard{
            p{
                font-size: 1.1rem;
            }
        }
    }


    /**MUNDO LMY**/
    .primerTexto{
        div{
            p{
                font-size: 1rem;
            }
            img{
                width: 90%;
            }
        }
    }
    .segundoTexto{
        margin-top: 6rem;
        .imgLimay2{
            img{
                width: 100%;
            }
        }
        div{
            p{
                font-size: 1rem;
            }
        }
    }
    .textoMedio{
        display: block;
        p{
            font-size: 1rem;
            line-height: 2.5rem;
        }
    }
    .accesosMundoLmy{
        h2{
            font-size: 1.5rem;
        }
        div{
            .botones{
                width: 20rem;
                height: 20rem;
            }
            .sustent{
                width: 30rem;
            }
        }
    }


    /**FAQ**/
    .primerConsejo{
        padding: 3rem;
        flex-direction: column;
        align-items: center;
        width: 100%;
            div{
                h1{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1.4rem;
                    line-height: 3.2rem;
                }
            }
            div{
                img{
                    width: 20rem;
                }
                .medidas1024{
                    width: 20rem;
                }
            }
    }
    .tablaTalles{
        grid-template-columns: 60% 40%;
        padding: 0;
        margin: 0;
        justify-content: center;
        gap: 0;
        img{
            width: 32rem;
        }
        div{
            width: 15rem;
            justify-self: center;
        }
    }
    .textoDudas{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 0rem;
        gap: 2rem;
        p{
            font-size: 1.2rem;
            width: 80%;
            text-align: center;
            line-height: 3.5rem;
            padding-left: 0;
        }
        img{
            width: 20rem;
            height: 14rem;
            padding-right: 0;

        }
    }

    /**CONTACTOS**/



}