@media (max-width: 425px){
    /**HEADER**/
    header{
        .header-iconos{
            height: 8rem;
            box-shadow: 0rem 0.3125rem 0.1875rem rgba(0, 0, 0, 0.2);
            margin-left: 0rem;
            margin-right: 0rem;
            margin-bottom: 0.4rem;
            .logoImg{
                a{
                    .logoLmy{
                        width: 5rem;
                    }
                }
            }
            .logoType{
                margin-top: 0.5rem;
                margin-left: 1.29rem;
                align-self: flex-start;
                a{
                    font-size: 1.1rem;
                }
            }
            .cartLogin{
                a{
                    .carrito{
                        width: 2.5rem;
                        margin-right: 1.1rem;
                    }
                }
            }
        }
    }


    /**INDEX**/ 
    .cardsAccess{
        display: none;
    }
    .cardsAccessMobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 1rem;
    }
    .fotoSlide{
        display: none;
    }
    .accesoDos{
        display: none;
    }
    .accesoDosMobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .iconosMain{
        display: none;
    }
    .cardsMobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 1rem;
    }

    /**NEWSLETTER**/
    .newsletter{
        grid-template-columns: 1fr 1fr;
        height: 9.8rem;
        margin-top: 0.8rem;
        img{
            width: 12rem;
        }
        p{
            font-size: 0.4rem;
            margin-top: 0.8rem;
        }
        form{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            .mailInput{
                font-size: 0.45rem;
                width: 8rem;
                height: 0.7rem;
                letter-spacing: 0.15em;
            }
            .submit{
                width: 3rem;
                height: 0.9rem;
                font-size: 0.45rem;
                margin-top: 0.7rem;
            }
        }
    }

    /**FOOTER**/
    footer{
        .final{
            display: flex;
            flex-direction: column;
            align-items: center;
            .linksVarios1{
                display: none;
            }
        }
        .linksVarios2{
            display: none;
        }
        .redes{
            p{
                text-align: center;
                font-size: 0.7rem;
                font-weight: 600;
            }
            a{
                img{
                    width: 1.4rem;
                    margin-top: 0.8rem;
                }
            }
        }
        .finalMobile{
            display: flex;
            .listaMobile{
                list-style: none;
                text-align: center;
                margin-top: 0.8rem;
                li{
                    a{
                        text-decoration: none;
                        color: #000000;
                        font-size: 0.7rem;
                        font-weight: 600;
                    }
                }
            }
        }
        .copyright{
            h3{
                font-size: 0.5rem;
                margin-top: 0.2rem;
                text-align: center;
            }
        }
        .descuentoBar{
            height: 2.1875rem;
            p{
                font-size: 0.7rem;
                text-align: center;
            }
        }
    }

    /**TIENDA**/
    .productos{
        display: flex;
        flex-direction: column;
        gap: 0rem;
        align-items: center;
        div{
            display: contents;
            .fotosProductos{
                width: 60%;
            }
            p{
                font-size: 1rem;
                margin-bottom: 2.5rem;
                text-align: center;
            }
            .colores{
                display: none;
            }
        }
    }

    /**MUNDO LMY**/
    .imagenInicio{
        img{
            display: none;
        }
    }
    .mundoLmyMobile{
        display: flex;
        margin: 0.5rem;
        img{
            width: 100%;
        }
    }
    .primerTexto{
        display: flex;
        flex-direction: column;
        margin-top: 0.8rem;
        align-items: center;
        .maquinaMobile{
            display: contents;
            width: 100%;
        }
        div{
            margin-top: 1.3rem;
            p{
                font-size: 0.8rem;
                text-align: center;
            }
        }
        .imgLimay1{
            display: none;
        }
    }
    .segundoTexto{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        align-items: center;
        .imgLimay2{
            width: 100%;
        }
        div{
            p{
                font-size: 0.8rem;
                text-align: center;
                line-height: 1.5rem;
            }
        }
    }
    .textoMedio{
        height: 15rem;
        p{
            font-size: 0.6rem;
            line-height: 1.5rem;
        }
        .txtMedio{
            img{
                display: none;
            }
        }
    }
    .accesosMundoLmy{
        display: flex;
        flex-direction: column;
        h2{
            font-size: 1rem;
        }
        div{
            flex-direction: column;
            margin-top: 0rem;
            align-items: center;
            .botones{
                width: 22rem;
                height: 22rem;
            }
            .sustent{
                width: 22rem;
                height: 15rem;
            }
        }
    }

    /**FAQ**/
    .faqInicio{
        display: none;
    }
    .faqInicioMobile{
        display: flex;
        img{
            display: flex;
            width: 100%;
        }
    }
    .primerConsejo{
        div{
            h1{
                font-size: 1.1rem;
                padding: 0;
            }
            p{
                font-size: 1rem;
                line-height: 2rem;
                padding: 0.8rem;
            }
        }
    }
    .imgfaq{
        display: none;
    }
    .tablaTalles{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            padding: 0;
            width: 19rem;
        }
        div{
            padding: 0;
            width: 17rem;
        }
    }
    .textoDudas{
        gap: 0;
        p{
            font-size: 0.8rem;
            line-height: 1.8rem;
        }
    }



}